pkgbase = tlacuache-browser
	pkgdesc = Gestor de archivos con columnas Miller, doble panel y una terminal integrada en cada panel (GTK4)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/RicardoMonroy/TlacuacheBrowser
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gtk4
	depends = libadwaita
	depends = vte4
	depends = gtksourceview5
	depends = poppler-glib
	depends = gdk-pixbuf2
	depends = glib2
	depends = cairo
	depends = pango
	depends = gcc-libs
	depends = glibc
	optdepends = gst-plugins-good: reproducir video y audio en la vista previa
	optdepends = gst-libav: más formatos de video y audio
	optdepends = ttf-jetbrains-mono: fuente monoespaciada de los temas
	options = !debug
	source = tlacuache-browser-0.2.0.tar.gz::https://github.com/RicardoMonroy/TlacuacheBrowser/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = tlacuache-browser
