[Desktop Entry]
Type=Application
Name=Tlacuache Browser
GenericName=Gestor de archivos
Comment=Gestor de archivos con columnas Miller, doble panel y terminal integrada
Exec=tlacuache %U
Icon=io.github.RicardoMonroy.Tlacuache
Terminal=false
StartupNotify=true
StartupWMClass=io.github.RicardoMonroy.Tlacuache
Categories=GTK;Utility;FileTools;FileManager;
MimeType=inode/directory;
Keywords=archivos;carpetas;explorador;terminal;files;folders;explorer;
